<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="iagofgermano home page">
	<meta name="keywords" content="iagofgermano, personal, blog, home, web, node">
	<title>iagofgermano - HOME</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto">
		<div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
			<!-- Logo -->
			<div class="text-sky-900 md:order-1 font-mono font-black">
				<a href="/" class="notranslate">iagofgermano</a>
			</div>
			<div class="text-gray-800 order-3 w-full md:w-auto md:order-2">
				<ul class="flex font-semibold justify-between">
                    <li class="md:px-4 md:py-2 hover:text-sky-900"><a href="#">See on Github</a></li>
					<li class="md:px-4 md:py-2 hover:text-sky-900"><a href="/blog">Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>
	  <!-- component -->
	<section class="pb-12 bg-gradient-to-b from-[#E8E3F5] via-[#EDEAFB] to-[#FFFFFF] h-screen">
            <div class="items-center pt-12 px-8 mx-auto max-w-7xl lg:px-16 md:px-12">
                  <div class="justify-center w-full text-center lg:p-10 max-auto">
                    <div class="justify-center w-full mx-auto">

                    <div class="flex flex-col items-center justify-center max-w-xl gap-3 mx-auto lg:flex-row">
                    <img
                        class='w-44 h-44 rounded-full border-4 border-white'
                        src='/images/me.jpeg'
						alt="Iago's photo"
                    />
                    </div>


                    <p class="mt-4 sm:px-32 text-[#10172A] sm:text-xl text-sm font-semibold tracking-tighter">
                       by @iagofgermano 👨🏻‍💻
                      </p>
					
					<div class="pt-4 flex items-center justify-center gap-3 mx-auto flex-row">
						<a href="https://www.instagram.com/iagoferreiragermano/">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"> <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/> </svg>
						</a>
						<a href="https://github.com/iagofgermano">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16"> <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/> </svg>
						</a>
						<a href="https://www.linkedin.com/in/iago-germano-64b624277/">
							<svg width="24" height="24" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Dribbble-Light-Preview" transform="translate(-180.000000, -7479.000000)" fill="#000000">
										<g id="icons" transform="translate(56.000000, 160.000000)">
											<path d="M144,7339 L140,7339 L140,7332.001 C140,7330.081 139.153,7329.01 137.634,7329.01 C135.981,7329.01 135,7330.126 135,7332.001 L135,7339 L131,7339 L131,7326 L135,7326 L135,7327.462 C135,7327.462 136.255,7325.26 139.083,7325.26 C141.912,7325.26 144,7326.986 144,7330.558 L144,7339 L144,7339 Z M126.442,7323.921 C125.093,7323.921 124,7322.819 124,7321.46 C124,7320.102 125.093,7319 126.442,7319 C127.79,7319 128.883,7320.102 128.883,7321.46 C128.884,7322.819 127.79,7323.921 126.442,7323.921 L126.442,7323.921 Z M124,7339 L129,7339 L129,7326 L124,7326 L124,7339 Z" id="linkedin-[#161]">
							
							</path>
										</g>
									</g>
								</g>
							</svg>
						</a>
						<a href="mailto:iagofgermano@outlook.com">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12ZM16 12V13.5C16 14.8807 17.1193 16 18.5 16V16C19.8807 16 21 14.8807 21 13.5V12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</div>
                      <p class="sm:mt-8 mt-3 sm:px-44 text-[#10172A] text-4xl sm:text-6xl font-semibold tracking-tighter">
                       Your Web Dev for anything, anytime
                      </p>

                      <p class="sm:mt-8 mt-2.5 text-[#10172A] sm:px-72  sm:leading-loose text-lg font-normal tracking-tighter">
						Based on Brazil, developing applications in <span class="font-semibold">Node.js</span> since 2023, with <span class="font-semibold">responsibility</span> and <span class="font-semibold">safety</span> for your projects.
                      </p>
                    </div>
                  </div>
              
                </div>

	</section>

    <div class="container flex items-center justify-center mx-auto pb-12">
        <div class="w-full lg:w-8/12">
            <div class="flex items-center justify-between">
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Latest Posts</h1>
            </div>
			<% for(var i = 0; i < posts.length; i++){ %>
			<!--Start Blog Post-->
            <div class="mt-6">
                <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                    <div class="flex items-center justify-between">
						<span class="font-light text-gray-600">
							<%- months[(posts[i]['createdAt']).getMonth()] %> 
							<%-posts[i]['createdAt'].getDay()%>,
							<%- (posts[i]['createdAt']).getFullYear()%>
						</span>
						<div class="flex flex-col md:flex-row">
							<% for(var j = 0; j < posts[i]['Tags'].length; j++){ %>
							<a href="/blog?q=<%- posts[i]['Tags'][j]['id']%>"
								class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500 mx-1 my-1">
								<%- posts[i]['Tags'][j]['name']%>
							</a>
							<% } %>
						</div>
                    </div>
                    <div class="mt-2 text-gray-600">
						<a href="<%- posts[i]['id']%>" class="text-2xl font-bold text-gray-700 hover:underline">
							<%- posts[i]['title']%>
						</a>
							<%-posts[i]['content'].substring(0,256)%>...
                    </div>
                    <div class="flex items-center justify-between mt-4"><a href="<%- posts[i]['id']%>"
                            class="text-cyan-800 hover:underline"><%- posts[i]['title']%></a>
                    </div>
                </div>
            </div>
			<!--End Blog Post-->
			<% } %>
		</div>
	</div>

	<footer class="footer footer-center  w-full p-4 bg-gray-300 text-gray-800">
		<div class="text-center">
		  <p>
			Copyright © 2023 - 2024 - 
			<a class="font-semibold" href="mailto:iagofgermano@outlook.com"
			  >iagofgermano</a
			>
		  </p>
		</div>
	  </footer>
</body>
</html>